@font-face {
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-family: 'Poppins-Semibold';
  font-weight: 600;
  font-display: swap;
}

@font-face {
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-family: 'Poppins-Medium';
  font-weight: 500;
  font-display: swap;
}

@font-face {
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-family: 'Poppins-Regular';
  font-weight: 400;
  font-display: swap;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.navbar {
  margin: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  background-color: #0e0e0e;
  color: #fff;
}

.navbar_nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav_item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Poppins-SemiBold';
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.nav_item-inactive {
  color: #fff;
}

.nav_item-active {
  color: #ffe81f;
}

.layout_headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24p 0;
}

.layout_title {
  font-family: 'Poppins-SemiBold';
  font-size: 28px;
  font-weight: 600;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: 'Poppins-SemiBold';
  font-weight: 600;
  font-size: 14px;
}

.page_active {
  width: 40px;
  height: 40px;
  padding: 0 10px;
  font-family: 'Poppins-SemiBold';
  font-weight: 600;
  font-size: 14px;
  background-color: #9f910f;
  color: #ffffff;
}

.page_idle {
  width: 40px;
  height: 40px;
  padding: 0 10px;
  font-family: 'Poppins-SemiBold';
  font-weight: 600;
  font-size: 14px;
  background-color: #ebebeb;
  color: #5a5a5a;
}

.page_direction {
  width: 100%;
}

.sorter {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sorter_text {
  font-family: 'Poppins-SemiBold';
  font-size: 14px;
  color: #a6a6a6;
}

.sorter_select {
  position: relative;
  width: 128px;
  font-family: 'Poppins-SemiBold';
  font-weight: 600;
  font-size: 14px;
}

.select_trigger {
  width: 128px;
  height: 36px;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  padding: 0 8px;
  cursor: pointer;
  font-size: 14px;
  color: #0e0e0e;
  border-radius: 4px;
  user-select: none;
}

.select_trigger::after {
  content: url('/select_arrow.png');
  position: absolute;
  right: 8px;
  top: 8px;
}

.select_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 128px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.select_option {
  width: 128px;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  background-color: #fff;
  font-size: 14px;
  color: #0e0e0e;
  cursor: pointer;
}

.select_option:hover {
  border: 1px solid #a6a6a6;
  background-color: #a6a6a6;
  margin: -1px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 6px 16px 16px 16px;
  font-family: 'Poppins-SemiBold';
  font-weight: 600;
  font-size: 14px;
}

.breadcrumb-separator {
  margin: 0 8px;
  color: #a6a6a6;
}

.breadcrumbs a {
  color: #5a5a5a;
  text-decoration: none;
}

.breadcrumbs a:first-of-type {
  color: #9f910f;
}

.breadcrumbs p {
  margin: 0;
  color: #a6a6a6
}

.layout {
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #0e0e0e;
}

.layout_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 0 80px 80px 80px;
  max-width: 1280px;
  padding: 24px 24px 40px 24px;
  background-color: #ebebeb;
}

.layout_details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 80px 80px 80px;
  max-width: 1280px;
  min-height: 606px;
  height: 100%;
  padding: 24px 24px 40px 24px;
  background-color: #ebebeb;
}

.card_container {
  display: flex;
  gap: 20px;
  max-width: 558px;
  width: 100%;
  max-height: 244px;
  height: 100%;
  padding: 24px;
  color:#0e0e0e;
  background-color: #f6f6f6;
  box-shadow: 0 0 0 1px #a6a6a6;
  white-space: normal;
}

.card_img-container {
  width: 158px;
  height: 237px;
}

.card_img,
.details_img {
  object-fit: contain;
}

.details_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  max-width: 1440px;
  width: 100%;
}

.details_img-container {
  max-width: 281px;
  width: 100%;
  max-height: 400px;
  height: 100%;
}

.card_info {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.card_headline {
  font-family: 'Poppins-SemiBold';
  font-size: 24px;
  font-weight: 600;
  color:#0e0e0e;
  text-decoration: none;
}

.card_details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
  min-width: 380px;
  min-height: 136px;
  font-family: 'Poppins-Medium';
  font-size: 14px;
  font-weight: 500;
}

.detail_container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.detail_topic {
  width: 120px;
  color: #a6a6a6;
  flex-shrink: 0;
}

.detail_content {
  min-width: 144px;
}

.detail_title {
  padding-bottom: 24px;
}

.footer {
  padding: 24px 80px;
  display: flex;
  justify-content: space-between;
  background-color: #292929;
  z-index: 100;
}

.footer_copy {
  font-family: 'Poppins-Regular';
  font-size: 14px;
  color: #a6a6a6;
}

.footer_links {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.footer-link {
  font-family: 'Poppins-SemiBold';
  font-size: 14px;
  color: #f6f6f6;
}
